<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-card class="example-card">
        <mat-card-header
          [style.backgroundColor]="'#165396'"
          class="p-2 text-white"
        >
          <div mat-card-avatar>
            <mat-icon class="avatar">home</mat-icon>
          </div>
          <mat-card-title>
            Gestión de Documentos de Entrega
          </mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
          <div class="row mt-2 p-2">
            <div class="col-12">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="hidden" formControlName="id" />
                <em><h6>Procesamiento de Documentos de Entrega</h6></em>
                <div class="form-group form-row">
                  <div class="col-12 col-md-3">
                    <mat-form-field>
                      <input
                        matInput
                        formControlName="dateDocument"
                        [matDatepicker]="dateDocument"
                        placeholder="Fecha"
                        required
                        autofocus
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="dateDocument"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #dateDocument></mat-datepicker>
                      <mat-error>requerido</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-3">
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        maxlength="6"
                        placeholder="Unidad de Negocio"
                        formControlName="unityCompany"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-3">
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        maxlength="6"
                        placeholder="Reparto"
                        formControlName="distribution"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
                <em><h6>Carga de Datos</h6></em>
                <div class="row">
                  <div class="col-12 col-md-3">
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        maxlength="6"
                        placeholder="ID Pieza"
                        formControlName="pieceId"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-3">
                    <!-- <mat-form-field> -->
                      <!-- <input
                        matInput
                        type="text"
                        maxlength="6"
                        placeholder="Estado Entrega"
                        formControlName="statusDeliver"
                        required
                      /> -->
                    <!-- </mat-form-field> -->
                    <app-distribution-status-search  [comboCtrl]="form.controls['statusDeliver']"></app-distribution-status-search>

                  </div>
                  <div class="col-12 col-md-2">
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        maxlength="6"
                        placeholder="Hora Calle"
                        formControlName="timeStreet"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-2">
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        placeholder="Motivo No Entrega"
                        formControlName="motiveNotDeliver"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-2">
                    <div class="text-right text-sm-left mt-2 mt-sm-0">
                      <button
                        *ngIf="!form.get('id').value"
                        mat-raised-button
                        color="primary"
                        (click)="onCreate()"
                      >
                        <span class="material-icons">
                          add
                        </span>
                        Agregar
                      </button>
                      <button
                        *ngIf="form.get('id').value"
                        mat-raised-button
                        color="primary"
                        (click)="onCreate()"
                      >
                        <span class="material-icons">
                          add
                        </span>
                        Actualizar
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-12">
              <div class="mat-elevation-z8">
                <div class="table-responsive">
                  <mat-table
                    [dataSource]="dataSource"
                    matSort
                    matSortActive="id"
                    matSortDirection="desc"
                    matSortDisableClear
                  >
                    <ng-container matColumnDef="pieceId">
                      <mat-header-cell *matHeaderCellDef>
                        Pieza ID
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{ element?.pieceId }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="statusDeliver">
                      <mat-header-cell *matHeaderCellDef>
                        Estado Envío
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{ element?.statusDeliver }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="timeStreet">
                      <mat-header-cell *matHeaderCellDef>
                        Hora Calle
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{ element?.timeStreet }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="motiveNotDeliver">
                      <mat-header-cell *matHeaderCellDef>
                        Motivo No Envío
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{ element?.motiveNotDeliver }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef></mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="onEdit(row)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button
                          mat-icon-button
                          color="warn"
                          (click)="onDelete(row.id)"
                        >
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="loading">
                      <mat-footer-cell *matFooterCellDef colspan="6">
                        Loading data...
                      </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                      <mat-footer-cell *matFooterCellDef colspan="6">
                        No data.
                      </mat-footer-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                      matRipple
                      *matRowDef="
                        let row;
                        columns: displayedColumns;
                        let i = index
                      "
                      (dblclick)="onEdit(row)"
                    ></mat-row>
                  </mat-table>
                  <mat-paginator
                    #paginator
                    showFirstLastButtons="true"
                    [pageSize]="12"
                    [pageSizeOptions]="[12, 24]"
                  ></mat-paginator>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 text-right">
              <button mat-raised-button color="accent" (click)="onSubmit()">
                <span class="material-icons">
                  add
                </span>
                Envíar
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
