/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  -webkit-print-color-adjust: exact !important;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #e5e5e5;
}

mat-form-field {
  width: 100%;
}

a {
  cursor: pointer !important;
}

mat-datepicker-toggle {
  outline: none;
}

.mat-yellow {
  background: #f8ce01;
  color: #fff;
}

button:focus {
  outline: none;
}

.mat-header-cell {
  background-color: #488cc9;
  font-family: monospace;
  color: white;
  font-weight: 900;
  text-transform: uppercase;

  button.mat-sort-header-button {
    text-transform: uppercase;
  }
}

.mat-sort-header-arrow {
  color: whitesmoke;
}

.fg-success {
  color: green;
 }

.fg-danger {
  color: red;
 }
